{{!-- Displaying Clicked Blog--}}
<div class ="comment" id="blogComment" data-id ="{{blog.id}}"  data-user_id="{{blog.user_id}}">
<h1>{{blog.title}}</h1>
<p>{{blog.content}}</p>
</div>

{{>blog_template}}

<script src="/js/comment.js"></script>