{{>blog_template}}

<div
  class="commentBlog"

  id="blogComment"
  data-id="{{comment.id}}"
  data-user_id="{{comment.user_id}}"
>
  
  <div>

    <p>{{comment.comment}}</p>
    <p>-{{comment.user.username}}</p>
  </div>

</div>
